aside{
    padding: 20px;
    margin: 20px;
    border-color: aqua;
    border-width: 20px solid;
    text-align:center;
   
}
h3{
    color: darkmagenta;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
}
h1{
    color: deepskyblue;
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif;
    font-weight: bold;
}
img{
    float: right;
    margin-left: 10px;
    padding-left: 2px;
}


