
body {
  font-family: Mukta, sans-serif;
  font-size: 16px;
  margin: 15px;
  padding: 9px;
  letter-spacing: 0px;
}
h1,h2,h3,
h4,h5,h6 {
  font-family: Bitter, serif;
  font-weight: 50px;
}

h1 {
  font-size: 5em;
  font-weight: 1.5rem;
  letter-spacing: -1.5px;
  margin: 1px 0;
}
h2 {
  font-size: 50px;
  letter-spacing: 0px;
}
h3 {
  font-size: 38px;
  letter-spacing: 0px;
}
h4 {
  font-size: 30px;
  letter-spacing: 0px;
}
h5 {
  font-size: 24px;
  letter-spacing: 0px;
}
h6 {
  font-size: 20px;
  letter-spacing: 0px;
}
.hero {
  background-color:lightblue;
  height: 100vh;
  color: brown;
  text-align: center;

  /* Don't worry about this code yet */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero hr {
  width: 50%;
  margin: 2em 0;
}

.content {
  margin: 1.5em auto;
  padding: 1.2em;
  text-align: left;
}
.content h3 {
  text-transform: capitalize;
}

.info {
  text-align: center;
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 1.5px;
}

.info span {
  color: violet
}

.about {
  text-transform:capitalize;
  font-weight: 1.2em;
  letter-spacing: 0.25px;
  margin: 0.2em 0;
  font-size: 1rem;
}

.quote {
  font-style: italic;
  font-size: 0.5em;
  border-left: 0.1em solid white;
  padding-left: 1em;
  margin: 2rem 0 2em 3rem;
  color: rosybrown;
}

.quote cite {
  display: block;
  font-weight: bold;
  margin-left: 1.5em;
}

footer {
  background-color:lightgray;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 100vw;
  text-align: center;
  padding: 2.5em 0;
}

footer ul li {
  display: inline;
  padding: 0 1em;
}

footer li a {
  text-decoration: none;
  color: darkolivegreen
}

footer li a:hover {
  text-decoration: underline;
}
.buddha{
  height: 450vh;
  width: 500vw;
  margin: 5px solid lightblue;
  padding: 3px 5px;



}
#img1{
  height:170vh;
  width: 350vw;
  margin: 2.1em;
  float: right;
  margin: 3px solid teal;
  padding: 5px 3px;

}
main{
  background-color:blanchedalmond;
  
}

  

