#aside{
    
    width: 300px;
    height: 150px;
    padding: 25px;
    border: 10px solid rgb(7, 31, 58);
    margin: 20px;
    box-sizing: border-box;
    overflow: scroll;
    background: lightcyan;
    color: darkcyan;
    border-radius: 1em;
}