h1{
    color: rgb(28, 10, 187);
    margin: 10px;
    text-align: center;
    padding: 10px;
}
#section{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

}
h4{
    color:rgb(10, 180, 47);
}
h3{
    color: brown;
}
.section{
    font-family: sans-serif;
    color: rgb(1, 1, 77);
   
}
header{
    text-align: center;
    font-weight: bold;
    background-image:url(../images/chakra.jpg);
    background-position: left top;
    background-size: 25vh 10vw;
    border-radius: 10%;
    background-repeat: no-repeat;
    
}
body{
     background-image: url(../images/great.jpg);
    background-position: center;
   background-repeat: no-repeat;
   background-attachment:fixed;
    background-size: 100vmax;
    margin-left: 1.5em;
    margin-top: 20px;

    
}
img{
    height: 50vh;
    width: 70vw;
}
   
    

