input:focus {
    background-color:lightskyblue;
}
label[type="check"]:hover{
    color: brown;
}
h1{
    color: darkolivegreen;
}
p{
    color: coral;
}
body{
    background-color: lightgoldenrodyellow;
    color: darkslategrey;
    margin: 20px 10px;
    padding: 10px 15px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
#label:hover {
    text-decoration: none;
    color:darkorange;
}


