aside{
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
    border-color: aqua;
    border-width: 20px;
    text-align:center;
   
}
h3{
    color: darkmagenta;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    text-align: center;
}
h1{
    color: deepskyblue;
    font-family:'Segoe UI', Tahoma,  Verdana, sans-serif;
    font-weight: bold;
}

