td ,th ,tr{
    border: 2px solid black;
    padding: 5px;
}
table{
    text-align: center;
    border: 2px solid black;
}
#s{
   background-color: yellow;
}
#k{
    background-color: mediumpurple;
}
#d{
    background-color: lightgreen;
}